* {
    margin: 0;
    padding: 0;
}

/* Adding style to heading of App */
.header {
    text-align: center;
    border-right: 2px solid yellow;
    border-left: 2px solid red;
    border-top: 2px solid green;
    border-bottom: 2px solid blue;
    padding: 0.5rem;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    /* For Large Screen Only */
    width: 40vw;    
}

/* Adding style to Input Section of Page */
.input-section {
    width: 90%;
    border: 1px solid yellowgreen;
    margin: 1rem;
    display: flex;
    justify-self: space-between;
    
}

/* Defining size for add btn image */
.input-section img {
    width: 1.5rem;
    height: 1.5rem;
}

/* Styling Input field */
#add {
    width: 80%;
    padding: 0.8rem;
    border:none;   
    font-size: 1rem;
}

/* Removing default styling */
#add:focus {
    outline:none;
}

/* Styling add btn */
.add-btn {
    margin-top: 0.7rem;
}

/* Styling List */
#list {
    display: flex;
    list-style: none;
    flex-direction: column;
    width: 90%;
    margin-left: 1rem;
}

#list li {
    padding: 1rem;
    border-bottom: 1px solid green;
    display: block;
    font-size: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 0.3rem;
    color: grey;
}

/* Styling delete image */
.list-item img  {
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 10%;
}

/* styling checkbox */
.list-item input[type="checkbox"] {
    accent-color: green;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

/* Checkbox when checked */
.list-item input:checked + label {
    text-decoration: line-through;
    color: green;
    font-weight: 900;
}

/* dividor */
hr {
    width: 90%;
    margin-left: 1rem;
}

/* task count styling */
span {
    color:orange;
    font-weight: 900;
    margin: 1rem;
    display: block;
}


/* Styling the modal to show notifications */

.modal {
    align-items: center;
    display: flex;
    justify-content: center; 
    position: absolute;
    /* top: 0; */
    bottom: 0;
    /* left: 0; */
    right: 0;
    background: rgba(254, 126, 126, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

/* Styling the content of notification */
.content {
    position: relative;
    background: white;
    width: 20vw;
    padding: 1em 2em;
    border-radius: 4px;
} 
/* Styling the closing button of modal */

.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}

/* Adding Responsiveness */

@media  all and (max-width:820px) {
    .container {
        width: 100vw;
    }
    .content { 
        width: 80vw;
    }
    
}
@media  all and (min-width:821px) {
    .container {
    position: absolute;
    top: 20vh;
    left: 30vw
    }
}

/* Animation */
@keyframes append-animate {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0%);
		opacity: 1;
	}
}


.new-box {
	transform-origin: 50% 0;
	animation: append-animate .3s linear;
}

